/* navbar */
.navbar {
    position: relative;
    z-index: 1;
}


.navbar-brand {
    font-size: 32px;
}

/* jumbotron */
.jumbotron {
    background-image: url('../img/img1.jpg');
    background-size: cover;
    height: 500px;
    text-align: center;
    position: relative;
    background-attachment: fixed;
}


.jumbotron .container {
    position: relative;
    z-index: 1;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron h1 {
    color: white;
    margin-top: 150px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 30px;
}


.jumbotron h1 span {
    font-weight: 500;
}

/*deskripsi*/
.image {
    width: 500px;
    margin-bottom: 50px;
}

.deskripsi {
    margin-top: 120px;
    text-align: center;
}


.deskripsi h3 {
    font-size: 42px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}


.deskripsi h3 span {
    font-weight: 500;
}


.deskripsi p {
    font-size: 18px;
    color: #868282;
    font-weight: 200;
    margin: 25px 0;
}

/* footer */
.footer {
    margin-top: 100px;
}

.footer p {
    color: #868282;
    font-size: 18px;
}


/* utilities*/
.tombol {
    border-radius: 40px;
}


/* desktop version */

@media(min-width:992px) {

    .navbar-brand,
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .active::after,
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }


    .jumbotron {
        margin-top: -75px;
        height: 600px;
    }


    .jumbotron h1 {
        font-size: 62px;
    }


    .deskripsi {
        text-align: left;
    }

}